# Java/Spring Boot
target/
*.log
*.class
*.jar
*.war
*.ear
*.iml

# React/Node.js
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.cache/
*.log

# Python/Flask/AI
__pycache__/
*.py[cod]
*.pyd
*.egg-info/
env/
venv/
*.h5
*.pkl
*.pt
*.bin
*.dylib

# VS Code/IDE
.vscode/
.idea/

# Env & Secrets
.env
application.properties
src/main/resources/application.properties

# Model directories
**/TrainedModels/
